html {
	background-color: gray;
}

body {
	width: 75%;
	margin: 0 auto;
	background-color: white;
	padding: 10px;
	box-shadow: 5px 5px 5px black;
}
h1{
	text-align: center;
}
h2 {
	background-color: blue;
	border-radius: 5px;
	padding: 5px;
	color: #EEE;
}