html
{
	background-color: #ddd;
	padding: 0;
}
body
{
	font-family: 'Roboto Condensed', sans-serif;
	width: 90%;
	min-width: 945px;
	background-color: white;
	margin: 0 auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas: 
		"p-header p-header p-header"
		"menu menu menu"
		"e-aside p-section d-aside"
		"p-footer p-footer p-footer"
	;
	padding: 0 20px;
	box-shadow: 0px 0px 4px black;
}
a
{
	padding:5px;
	text-decoration: none;
	color: blue;
}
section h1 
{
	background-color: #261580;
	padding:10px;
	color:#e2edff;
	border-radius: 2px;
	margin: 0px 0px 15px;
}
h2,h3
{
	font-weight: normal;
	margin:0;
}
header#h-principal
{
	grid-area: p-header;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: minmax(273px, 5fr) 7fr;
	grid-template-areas: 
		"logo aces"
		"logo pesq"
	;
}
figure
{
	margin:0;
}
figure#logo
{
	grid-area: logo;
	margin: 20px 0px 0;
	padding: 0px;
	
}
figcaption
{
	display: none;
	text-align: center;
}
figure#logo img
{
	min-width: 273px;
	max-width: 100%;
    display: block;
    margin: 0 auto;
}
#foto-ministro:hover figcaption
{
	display: block;

}
#foto-ministro
{
	position: relative;
	
	margin:10px 0;
	min-width: 200px;
	max-width: 100%;
}
#foto-ministro img
{
	width: 100%;
	border-radius: 3px;
}
#foto-ministro figcaption
{
	width: 80%;
	position: absolute;
	top:190px;
	padding: 10px;
	font-size: 19px;
	font-weight: bold;
	background-color: rgba(255,255,255,.5);
	transition: display 1s;
}
#a-primeiro img
{
	
	border-radius: 2px;
	float:right;
	margin: 15px 0 15px 5px;
	max-width: 100%;
	width: 40%;
}
#btn-find
{
	transition-timing-function: ease-in-out;
	transition: padding 1s;
    
}
#btn-find:hover
{
	padding: 10px 80px;
}
#a-segundo a
{
	float: right;
	clear: right;
}
#a-terceiro section
{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
}
#a-terceiro  h2, #a-terceiro  h3
{
	display: inline-grid;
}
.txt-direita
{
	text-align: right;
}
nav ul
{
	list-style: none;
	padding: 10px;
	margin: 0;

}
nav li 
{
	display: inline-block;
	padding: 0 5px;
}
nav#acessibilidade
{
	grid-area: aces;
}
nav#acessibilidade li
{
	padding: 0;
}
.inline
{
	display: inline;
}
.center
{
	margin: 0 auto;
}
.center-y
{
	display: inline-flex;
	margin: auto 0;
}
.btn
{
	text-decoration: none;
	padding: 10px;
	background-color: gray;
	color: white;
	box-shadow: 2px 2px 5px black;
	transition-timing-function: ease-in-out;
	transition: background-color .5s;
}
.button {
	padding: 10px 30px;
	border-radius: 5px;
	box-shadow: inset 0 1px 5px 1px #0057b1;
	background: linear-gradient(lightblue 1%, #0057b1 99%);
	color: white;
	border:none;
	font-size: 12pt;
}
.button:hover
{
	box-shadow: inset 0 0px 10px 2px #64d7ff;
	cursor: pointer;
}
.borda
{
	border-radius:3px;
}
.direita
{
	float: right;
}
.limpar
{
	clear: both;
}
.linha
{
	border-top-width: 1px;
	border-top-style: solid;
	margin: 20px;
}
.menu a
{
	background-color: #367dff;
	color: white;
	border-radius:4px;
	padding:10px;
	transition: background-color .5s;
}
.menu a:hover
{
	background-color: #87b2ff;

}
.link-simples a:hover
{
	text-decoration: underline;
}
#links-texto a
{
	color: white;
	text-decoration: none;
	padding: 3px;
	margin: 3px;
	background-color: gray;
	box-shadow: 1px 1px 1px black;

}
#links-texto
{
	padding: 0;
}
#links-texto a:hover
{
	box-shadow: 3px 3px 3px black;
}
#links-texto li
{
	padding: 0;
}
#link-pequeno
{
	font-size:10pt;
}
#link-medio
{
	font-size:14pt;
}
#link-grande
{
	font-size:16pt;
}
#n-principal a
{
	display: inline;
	margin: 0 auto;
	transition: padding 1s;
}
#n-principal a:hover
{
	
	padding: 10px 200px;
}
#n-lateral li
{
	margin: 15px 0;
	display: block;
}
#n-lateral a
{
	font-size: 13pt;
	padding: 5px;
}
#n-lateral a:hover:after
{
	content:" →";
}
.setinha:after
{
	content:" →";
}
div#pesquisa
{
	grid-area: pesq;
	margin: auto 0;
}
input
{
	padding: 10px;
}
nav#n-principal
{
	grid-area: menu;
	border-style: solid;
  	border-width: 1px 0;
  	padding: 20px 0;
}
#n-principal ul
{
	display: flex;
}
#n-principal li
{
	margin: 0 auto;
}
aside#a-esquerda
{
	grid-area: e-aside;
}
section#s-principal
{
	grid-area: p-section;
}
#s-principal article
{
 	background-color: #e2edff;
 	padding:10px;
 	border-radius: 2px;
 	margin: 10px 0;
 	box-shadow: 0px 0px 7px black;
}
#s-principal article:hover #leitura
{
    display:block;
    z-index: 1;
}
#s-principal article:hover 
{
    z-index: 2;
}
aside#a-direita
{
	grid-area: d-aside;
}
footer#f-principal
{
	grid-area: p-footer;
	display: grid;
	grid-template-columns: 5.2fr 0.6fr 5.2fr;
	grid-template-areas: 
		"nav div p"
	;
	border-top-width: 1px;
	border-top-style: solid;
}
#s-principal h2
{
	font-size: 16pt;
	text-decoration: underline;
}
#a-primeiro
{
	display:grid;
	grid-gap: 1px;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: 
		"aa-h aa-h"
		"aa-s aa-s"
		"aa-c aa-c"
		"aa-a aa-a"
	;
}
#a1-corpo
{
	grid-area: aa-c;
	display:grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 2fr;
	
}
#a1-corpo h2,#a1-corpo h3 {
	display:inline-grid;
}
#a1-h
{
	grid-area: aa-h;
}
#a1-a
{
	grid-area: aa-a;
	display: block;
	text-align: right;
	margin: 10px 0 0;
}
#a1-corpo-1
{
	grid-area: aa-s;
}
#f-principal li
{
	text-align: justify;
	font-size: 12pt;
    padding:0;
}
#f-principal p
{
	text-align: right;
    margin-right: 20px;
}
#top 
{
	margin: 10px auto;
    text-align: center;
    transition: 1s;
}
#top:hover 
{
	margin-top: -15px;
}
#f-lateral a:before
{
	content: "> ";
}
#f-lateral
{
	background-color: #a6d6de;
	margin-right: 20px;
	transition: 1s;
	transition-timing-function: ease-in-out;
	border:1px solid #0055ad;
}
#f-lateral:hover
{
	box-shadow: 0 0 5px 1px black;
	background-color: #c8ebff;
}
#f-lateral:hover h1
{
	color: black;
	font-size: 25pt; 
}
#f-lateral h1
{
	text-align: center;
	padding:15px 15px 0;
	margin:10px;
	color: #8a8a8a;
	transition: 1s;
}
#a-direita img
{
	width:100%;
}
#a-direita h1
{
	
	margin: 0;
}

#a-direita figcaption
{
	background-color: rgba(255,255,255,.5);
	transition: 1s;
}
#spotlight-main 
{
	position:relative;
	margin-bottom: 0px;

}
#spotlight-main:hover figcaption
{
	display:block;
}
#spotlight-main:hover #spot-main
{
	display: block;
}
#spotlight-main figcaption
{
	position: absolute;
	top:50px;
	z-index: 2;
}
#spotlight-main p
{
	margin: 0;
}

#spot-main {
	position:absolute;
	background-color:rgba(0,0,0,.5);
	width: 100%;
	height: 98%;
	top:0px;
	z-index: 1;
	display: none;
}
#spotlight-small-2  
{
    height: 100%;
}
#spotlight-small-1 figcaption, #spotlight-small-2 figcaption
{
	display: block;
}
iframe
{
	width: 100%;
	height: 100%;
	border: none;
	margin: 10px 0px;
	transition: 1s;
    
}
#links-fotos
{
	position: absolute;
	font-size: 16pt;
	right:5px;
	top: 20px;
    
	
}
#links-fotos a
{
	color:white;
	text-shadow: 0px 0px 10px black;
    background-color: rgba(0,0,0,.3);
}
#links-fotos a:hover
{
	background-color: black;
	box-shadow: 0 0 5px black;
}
#fotos
{
	position: relative;
    margin: 0;
    padding: 0;
}
