body
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
figure
{
	margin: 0 0 50px;
	padding: 0;
	position: relative;
    -webkit-transition: all 1s ease-in
}
img
{
	border-radius: 3px;
	width: 100%;
	height: 100%;
}
figcaption
{
	position: absolute;
	top:40%;
	background-color: rgba(255,255,255,.5);
	display: none;
	text-align: center;
	z-index: 2;


}
h1
{
	margin:0;
	font-size: 16pt;
}
p{
	margin: 0;
	font-size: 12pt;
}
figure:hover .preto
{
	display: block;
    transition: 1s;
}
figure:hover figcaption
{
	display: block;

}
.preto
{
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 98%;
	z-index: 1;
	top: 0px;
	position: absolute;
	display: none;
}
